- provide(:title, "Log into my.Invoice.r")
.row
  .col-md-6.offset-md-3
    %h1.m-b-2 Log in
    = bootstrap_form_for(:session, url: user_session_path) do |f|
      = f.email_field :email, class: 'form-control'
      = f.password_field :password, class: 'form-control'
      = f.label :remember_me, class: "checkbox inline" do
        = f.check_box :remember_me
        Remember me on this computer
      .break
        = f.submit "Log in", class: "btn btn-primary m-t-2"
        = link_to "New account", new_user_path, class: "btn btn-secondary m-t-2"
